# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Env/OS
.venv/
.env
.DS_Store

# Editor
.vscode/

# Node
node_modules/

# Coverage/pytest
.coverage
.pytest_cache/

# Build
build/
dist/

# Playwright (see root conftest.py)
.cache/

